.wrapper {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: grey;
	margin: auto;
}

.heading {
	background: lightblue;
	max-height: 800px;
	min-height: 75px;
	width: 100%;
	color: black;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}

.cname,
.vvlink {
	display: flex;
}

.cname {
	margin: 15px;
	font-size: 80px;
	font-weight: 700;
	flex: 3;
	cursor: default;
}

.vvlink {
	flex: 1;
	margin: 15px;
	text-align: right;
	font-size: 35px;
	font-weight: 100;
	justify-content: flex-end;
	margin-right: 15px;
}

.link {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

.wrapper {
	padding: 0 10px 0 10px;
	margin: 10px;
}
.wrapper {
	max-width: 1000px;
	width: 90%;
	background: white;
	border-radius: 10px;
	margin: 60px auto;
	padding: 30px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.wrapper .title {
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 75px;
	color: black;
	text-align: left;
	text-decoration: underline;
	cursor: default;
}

.wrapper .form {
	width: 94%;
	margin: auto;
}

.wrapper .form .input_field {
	margin-bottom: 60px;
	display: flex;
	align-items: center;
}

.wrapper .form .input_field label {
	width: 200px;
	color: black;
	margin-right: 35px;
	font-size: 25px;
}

.wrapper .form .input_field .input {
	width: 90%;
	margin: auto;
	outline: none;
	border: 1px solid lightblue;
	font-size: 25px;
	padding: 8px 10px;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.wrapper .form .input_field .input:focus {
	border: 1px solid grey;
}

.wrapper .form .input_field .button {
	width: 50%;
	padding: 8px 10px;
	font-size: 40px;
	border: 0px;
	margin: auto;
	padding: 15px;
	background: #d9d9d9;
	color: red;
	cursor: pointer;
	border-radius: 10px;
	outline: none;
}

.wrapper .form .input_field:last-child {
	margin-bottom: 0;
}

.wrapper .form .input_field .button:hover {
	background: lightblue;
	transition: 0.8s ease;
}

@media (max-width: 420px) {
	.wrapper .form .input_field {
		flex-direction: column;
		align-items: flex-start;
	}
	.wrapper .form .input_field label {
		margin-bottom: 5px;
	}
	.wrapper {
		width: 90%;
		margin: 15px auto;
		padding: 10px;
	}
	.heading {
		flex-direction: column;
		align-items: flex-start;
	}
	.cname {
		margin: auto;
		font-size: 35px;
		font-weight: 300;
		flex: 1;
	}

	.vvlink {
		flex: 1;
		margin: auto;
		font-size: 20px;
		text-align: center;
		justify-content: space-around;
	}
}

@media (max-width: 500px) and (min-width: 421px) {
	.wrapper {
		padding: 20px;
	}
	.wrapper .form .input_field label {
		width: 120px;
	}
	.heading {
		flex-direction: column;
		align-items: flex-start;
	}
	.cname {
		margin: auto;
		font-size: 45px;
		font-weight: 500;
		flex: 1;
	}

	.vvlink {
		flex: 1;
		margin: auto;
		text-align: center;
		font-size: 20px;
		justify-content: space-around;
	}
}

@media (max-width: 850px) and (min-width: 501px) {
	.heading {
		flex-direction: column;
		align-items: flex-start;
	}
	.cname {
		margin: auto;
		font-size: 50px;
		font-weight: 700;
		flex: 1;
	}

	.vvlink {
		flex: 1;
		margin: auto;
		text-align: center;
		justify-content: space-around;
	}
}
